html{
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    margin:0;
    padding:0;
}

#map{
    height: 70vh;
    margin-bottom: 0;
    padding-bottom: 0;
}

header{
    background-color: #231C1A;
    height: 80px;
    width: 100%;
}

h1{
    color: white;
    position: absolute;
    top: 0;
    line-height: 50px;
    left: 80px;
}

header ul{
    position: absolute;
    right:5vw;
    top:0;
    line-height: 80px;
}

header li{
    display: inline;
    margin-right: 4vw;
    font-size: 20px;
}

header a{
    color:white;
    text-decoration: none;
}

header a:hover{
    text-decoration: underline;
}

body{
    background-color: #231C1A;
    margin-bottom: 0;
    padding-bottom: 0;
}

h2{
    font-size: 60px;
    margin: 0;
}

.information{
    background-color: lightgray;
    padding-bottom: 70vh;
}

.info p{
    text-align: center;
    line-height:2em;    
    color:white;
    font-size: 20px;
    margin: 0;
}

.pin{
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding: 50px 80px 0 80px;
}

.pin div{
    width:150px;
    text-align:center;
    color: white;
}

.pin img{
    border-radius:10px;;
}
